@import "./config";

body {
  margin: 0;
  font-family: map-get($font-family, "body");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: map-get($font-family, "title");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 0%);
}

.img-container {
  max-width: 100%;

  img {
    width: 100%;
  }
}

.text-muted {
  color: hsl(208deg, 7%, 46%);
}

.text-italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

@each $key, $value in $font-weight {
  .#{$key} {
    font-weight: #{$value};
  }
}
